@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales personalizados */
body {
  @apply bg-gray-50 text-gray-900;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}